<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>            <string>co.plow.seed-os-manager</string>
  <key>CFBundleExecutable</key>            <string>seedctl</string>
  <key>CFBundleName</key>                  <string>Seed OS Manager</string>
  <key>CFBundleDisplayName</key>           <string>Seed OS Manager</string>
  <key>CFBundleShortVersionString</key>    <string>0.1.0</string>
  <key>CFBundleVersion</key>               <string>1</string>
  <key>CFBundleInfoDictionaryVersion</key> <string>6.0</string>
  <key>CFBundlePackageType</key>           <string>APPL</string>
  <key>CFBundleIconFile</key>              <string>AppIcon</string>
  <key>LSMinimumSystemVersion</key>        <string>13.0</string>
  <key>LSUIElement</key>                   <true/>
  <key>LSBackgroundOnly</key>              <false/>
  <key>NSAppleEventsUsageDescription</key> <string>Seed OS Manager runs AppleScript on behalf of SEEDs you install.</string>
  <key>NSHumanReadableCopyright</key>      <string>© 2026 Plow PBC</string>
</dict>
</plist>
